/**  Variable color usable across css file **/
:root {
	--darkblue: #575988;
	--lightblue: #6c63ff;
	--aqua: #6861ea;
	--light: #e4e2ff;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #f1f0ff;
	font-family: 'Teko', sans-serif;
	height: 100vh;
}

.container {
	display: flex;
	height: 100%;
}

.register {
	background-color: #fdfdfd;
}
.register form {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}
.register h2 {
	text-align: center;
}
.register .gosignin {
	text-align: center;
	color: #acacae;
	margin-bottom: 25px;
}

/** Class button **/
.form-button {
	padding: 5px;
	width: 90%;
	border-radius: 10px;
	margin-bottom: 20px;
	border: none;
	background-color: var(--lightblue);
	color: white;
	font-family: inherit;
	font-size: 26px;
}

.form-input {
	padding: 15px;
	margin: 10px 0;
	border: 0;
	background-color: #f9f9f9;
	outline: 0;
	width: 90%;
	font-size: 22px;
	border-radius: 10px;
	font-family: 'Teko', sans-serif;
}
.text-lightblue {
	color: var(--lightblue);
}
.text-darkblue {
	color: var(--darkblue);
}

@media (min-width: 320px) {
	/* smartphones, Android phones, landscape iPhone */

	.container {
		flex-direction: column;
	}

	.illustration {
		padding: 20px 10px 10px;
	}
	.illustration img {
		width: 300px;
		display: block;
		margin: auto;
		height: auto;
	}
	.illustration .caption {
		display: none;
	}

	.register {
		height: 100%;
		background-color: #fdfdfd;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
	}
	.register form {
		padding: 60px 50px 0;
		background-color: #fdfdfd;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
	}
	.register h2 {
		font-size: 42px;
	}
	.register .gosignin {
		font-size: 22px;
	}
}

@media (min-width: 801px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */

	.container {
		flex-direction: row-reverse;
	}

	.illustration {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.illustration img {
		width: 400px;
		padding: 0;
		margin: 0;
	}
	.illustration .caption {
		display: block;
		color: var(--darkblue);
		margin-right: 40px;
		margin-top: 100px;
		margin-bottom: 20px;
		font-size: 26px;
		font-weight: 500;
		font-family: 'Bree Serif', serif;
	}

	.register {
		border-radius: 0;
	}
	.register form {
		padding: 60px 60px 0;
	}

	/** All div/elements inside the flex box will have the same width**/
	.flex-item {
		flex: 1 1 0px;
		width: 0;
	}
}

@media (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */

	.illustration img {
		width: 500px;
	}
	.illustration .caption {
		font-size: 36px;
	}
}
